.ad-card {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  margin: 8px;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;

	@include shadow(0, 1px, 3px, 1px, rgba(0,0,0,0.1));

	&.ad-full {
		margin: 8px 0;
	}



	//Card Type
    &.ad-round {
        border-radius: 10px;
    }

	&.ad-block {
		border-radius: 0;
	}

    &.ad-flat {
        box-shadow: none;
        text-shadow: none;
        border: none;
    }

	&.ad-img {
		font-size: 0;
		img {
			margin: 0;
			padding: 0;
			font-size: 0;
		}
	}

	p {
		padding: 16px;
	}

	.title {
		margin: 16px 16px;
		margin-bottom: 0;
		font-weight: 100;

		& + p {
			padding-top: 0;
		}
	}


	.ad-input {
		margin: 16px;
	}


}


.ad-tile{
	background-color:transparent;
	background-position: center;
    background-size: cover;

    margin:0;


}





//FLOWERS


.flower{

    img{
        border-radius: 50% 0 50% 50% !important;
    }
}



.ad-flower{
	border-radius: 50% 0 50% 50% !important;
	overflow: hidden;
	width:230px;
	height:230px;
}





//BACKGROUND COLORS HERE

.whiteBG{
	@include cardColor(#fff, $dark);
}
.vBGv{

	@include cardColor(#2D566B);
}

.tqBG{
	@include cardColor(#227586);

}

.greenBG{

	@include cardColor(#00796B, black);


}
.purpleBG{

	@include cardColor(#871E6A);

}

.bg-color{

	@include cardColor(#AB1656);
}


.blueBG{

	@include cardColor(#303F9F);

}


.darkBG{
	@include cardColor($dark, white);
}

.pinkBG{
	@include cardColor($pink, white);
}


/*//COLORS*/

.colorPink{
	color:$pink;
}

.colorDark{
	color:$dark;
}

.colorPrim{
	color:$prim;
}

.colorTgreen{
	color:$tGreen;
}

.colorYellow{
	color:$yellow;
}
